In [5]:
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "gender": "male",
        "current_city": "Dallas",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "gender": "male",
        "current_city": "Houston",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "gender": "female",
        "current_city": "",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "gender": "male",
        "current_city": "San Fransisco",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "gender": "female",
        "current_city": None,
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 04:19:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [6]:
df=spark.createDataFrame(users)

In [7]:
df.show()

+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses| current_city|customer_from|               email|first_name|gender| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|       Dallas|   2021-01-15|cvandenoord0@etsy...|    Corrie|  male|  1|       true|Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901,...|
|      900.0|    [3]|      Houston|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  male|  2|       true|     Brewitt|2021-02-18 03:33:00|{+1 234 567 8923,...|
|     850.55| [2, 4]|             |   2021-01-21|openney2@vistapri...|    Orelie|female|  3|       true|      Penney|2021-03-15 15:16:55|{+1 714 512 9752,...|
|       null|     []|San Fransisco|         null|  amaddocks3@home.pl|     Ashby|  male|  4|      false|    Maddocks|2021-04-10 17:45:30|        {null, null}|
|       null|     []|         null|         null|krome4@shutterfly...|      Kurt|female|  5|      false|        Rome|2021-04-02 00:55:18|{+1 817 934 7142,...|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+

In [8]:
df\
.select("id","current_city")\
.where('current_city IS NOT NULL')\
.show()

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [9]:
df.select("id","current_city","customer_from").orderBy("customer_from").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  4|San Fransisco|         null|
|  5|         null|         null|
|  1|       Dallas|   2021-01-15|
|  3|             |   2021-01-21|
|  2|      Houston|   2021-02-14|
+---+-------------+-------------+

In [10]:
df1 = spark.read.option("header",True).option('inferschema',True).csv(f'/home/labuser/raw/zipcode.csv')

In [11]:
df1.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|      null|
|  1|    704|STANDARD|               null|   PR|     30100|
|  1|    704|STANDARD|               null|   PR|     30100|
+---+-------+--------+-------------------+-----+----------+

In [15]:
df1=df1.drop_duplicates()

In [16]:
df1

DataFrame[id: int, zipcode: int, type: string, city: string, state: string, population: int]

In [17]:
df1.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  5|  76177|STANDARD|               null|   TX|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [19]:
df1.dropna('all').show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  5|  76177|STANDARD|               null|   TX|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [20]:
df1.na.drop(subset='type').show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  5|  76177|STANDARD|             null|   TX|      null|
|  1|    704|STANDARD|             null|   PR|     30100|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-----------------+-----+----------+

In [23]:
df1.na.fill({'type':'NEW','population':3000}).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|     NEW|PASEO COSTA DEL SUR|   PR|      3000|
|  5|  76177|STANDARD|               null|   TX|      3000|
|  3|    709|     NEW|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [25]:
df1.orderby('id').show()

AttributeError: 'DataFrame' object has no attribute 'orderby'

In [27]:
df1.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  5|  76177|STANDARD|               null|   TX|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [28]:
df.show()

+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses| current_city|customer_from|               email|first_name|gender| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|       Dallas|   2021-01-15|cvandenoord0@etsy...|    Corrie|  male|  1|       true|Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901,...|
|      900.0|    [3]|      Houston|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  male|  2|       true|     Brewitt|2021-02-18 03:33:00|{+1 234 567 8923,...|
|     850.55| [2, 4]|             |   2021-01-21|openney2@vistapri...|    Orelie|female|  3|       true|      Penney|2021-03-15 15:16:55|{+1 714 512 9752,...|
|       null|     []|San Fransisco|         null|  amaddocks3@home.pl|     Ashby|  male|  4|      false|    Maddocks|2021-04-10 17:45:30|        {null, null}|
|       null|     []|         null|         null|krome4@shutterfly...|      Kurt|female|  5|      false|        Rome|2021-04-02 00:55:18|{+1 817 934 7142,...|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+

In [34]:
df.select('id','current_city','customer_from').replace('Dallas','LA',subset='current_city').show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|           LA|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+